html {
	background: url(../img/kochen.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
body {
	padding-top: 20px;
	font-size: 16px;
	background: transparent;
}
.panel {
	background-color: rgba(255, 255, 255, 0.9);
}

.infield { width: 90%;}