h1 	{color: BLACK; font-family: Calibri; font-size: 45px; text-align: CENTER; padding-bottom: 0px; margin-bottom: 0px; min-width: 380px;}
h2	{color: BLACK; font-family: Calibri; font-size: 35px; text-align: CENTER; padding-top: 0px; margin-top:0px; margin-bottom: 10px; 380px}
body {background-color: #EEEEEE; width:100%}


.head_area 						{background-color: ORANGE;}
.upper_body_container 			{height: 70%; width: 100%;}
.upper_body_table				{height: 100%; width: 100%;}
.upper_body_table_row			{width: 25%; height: 100%;}
.upper_body_table_row_middle        {width: 50%; height: 100%;}

.upper_body_left		{background-color: #CCCC33; width: 100%; height: 100%; margin-top:0%; padding-top:0%}
.upper_body_right		{background-color: BLUE;width: 100%; height: 100%;margin-top:0%; padding-top:0%}
.upper_body_middle		{background-color: YELLOW;width: 100%; height: 100%;margin-top:0%; padding-top:0%}